<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="./assets/css/cart.css">
</head>
<body>
    <div class="container">
        <div class="content">
            <ul>
                <li>
                    <div class="product__img">
                        <a href="#!">
                            <img src="./assets/images/product/product.png" alt="">
                        </a>
                        <span class="product__count">1</span>
                    </div>
                    <div class="product__desc">
                        <a href="#!">
                            <div class="product__name">
                                <h4>Dunk Low Dark Blue</h4>
                                <p>36 EU - 4 US</p>
                            </div>
                        </a>
                        <div class="product__price">
                            <p> 50,00 $ </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="product__img">
                        <a href="#!">
                            <img src="./assets/images/product/product.png" alt="">
                        </a>
                        <span class="product__count">3</span>
                    </div>
                    <div class="product__desc">
                        <a href="#!">
                            <div class="product__name">
                                <h4>Dunk Black</h4>
                                <p>38 EU - 5.5Y US</p>
                            </div>
                        </a>
                        <div class="product__price">
                            <p> 45,00 $ </p>
                        </div>
                    </div>
                   
                </li>
            </ul>
        </div>
    </div>
</body>
</html>