<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notifications</title>
    <link rel="stylesheet" href="./assets/css/notifications.css">
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="card__head">
                <h2>Notifications</h2>
                <a href="#!">Mark all as read</a>
            </div>
            <div class="card_notifications">
                <ul>
                    <li>
                        <div class="avatar">
                            <img src="./assets/images/person/1.jpeg" alt="">
                            <span class="status__badge"></span>
                        </div>
                        <div class="notification__info">
                            <div class="name_duration">
                                <h3>Alexa Smith</h3>
                                <span>5 min ago</span>
                            </div>
                            <div class="detail">
                                <p>Completed 
                                    <a href="#!">Improve workflow in Figma.</a>
                                </p>
                            </div>
                        </div>
                    </li>
                    
                    <li>
                        <div class="avatar">
                            <img src="./assets/images/person/2.jpeg" alt="">
                            <span class="status__badge"></span>
                        </div>
                        <div class="notification__info">
                            <div class="name_duration">
                                <h3>Ralph Adward</h3>
                                <span>5 min ago</span>
                            </div>
                            <div class="detail">
                                <p>Completed 
                                    <a href="#!">Create new components.</a>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>